.card_container {
  height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
  width: 320px;
  height: 200px;
  border-radius: 10px;
  perspective: 1000px;
  border: 1px solid white;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 600ms ease;
  transform-style: preserve-3d;
  box-shadow: 0 0 25px 2px rgba(black, 0.2);
}

.card-front {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  backface-visibility: hidden;
}

.card-front {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 300ms ease-in-out;
}

.card-bg {
  position: absolute;
  top: -20px;
  right: -120px;
  width: 380px;
  height: 250px;
  background: linear-gradient(321.03deg, #01adef 0%, #0860bf 91.45%);
  border-top-left-radius: 100%;
}

.card-glow {
  position: absolute;
  top: -140px;
  left: -65px;
  height: 200px;
  width: 400px;
  background: rgba(#00b7ff, 0.4);
  filter: blur(10px);
  border-radius: 100%;
  transform: skew(-15deg, -15deg);
}

.card-contactless {
  position: absolute;
  right: 15px;
  top: 55px;
  transform: scale(0.5);
  margin-top: 15px;
}

.card-chip {
  position: absolute;
  top: 65px;
  left: 25px;
  width: 45px;
  height: 34px;
  border-radius: 5px;
  background-color: #ffda7b;
  overflow: hidden;
}

.card-chip::before {
  content: "";
  position: absolute;
  left: 49%;
  top: -7%;
  transform: translateX(-50%);
  background: #ffda7b;
  border: 1px solid #a27c1f;
  width: 25%;
  height: 110%;
  border-radius: 100%;
  z-index: 2;
}

.card-chip::after {
  content: "";
  position: absolute;
  top: 30%;
  left: -10%;
  background: transparent;
  border: 1px solid #a27c1f;
  width: 120%;
  height: 33%;
}

.card-holder {
  position: absolute;
  left: 25px;
  bottom: 30px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2em;
  filter: drop-shadow(1px 1px 1px rgba(black, 0.3));
}

.card-number {
  position: absolute;
  left: 25px;
  bottom: 65px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2em;
  filter: drop-shadow(1px 1px 1px rgba(black, 0.3));
}

.card-valid {
  position: absolute;
  right: 25px;
  bottom: 30px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2em;
  filter: drop-shadow(1px 1px 1px rgba(black, 0.3));
}

.card-valid::before {
  position: absolute;
  top: 1px;
  left: -35px;
  width: 50px;
  font-size: 7px;
}

.card-signature {
  position: absolute;
  top: 120px;
  left: 15px;
  width: 70%;
  height: 30px;
  background: rgb(238, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #021318;
  font-family: "Mr Dafoe", cursive;
  font-size: 38px;
  font-weight: 400;
}

.card-signature::before {
  content: "Authorized Signature";
  position: absolute;
  top: -15px;
  left: 0;
  font-family: "Overpass Mono", monospace;
  font-size: 9px;
  color: rgb(238, 236, 236);
}

.card-seccode {
  position: absolute;
  top: 125px;
  left: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 17px;
  color: #021318;
  background-color: rgb(238, 236, 236);
  text-align: center;
  font-size: 11px;
}

.logo-discovery {
  position: absolute;
  right: 25px;
  top: 15px;
}

.logo-amex {
  position: absolute;
  right: 25px;
  top: 20px;
}

.logo-master {
  position: absolute;
  right: 15px;
  top: 15px;
}

.logo-visa {
  position: absolute;
  right: 25px;
  top: 30px;
}

.hint {
  padding: 2em 0;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0.025em;
  font-weight: 400;
  color: #a3d4e7;
}

.payment-title {
  width: 100%;
  text-align: center;
}

.form-container .field-container:first-of-type {
  grid-area: name;
  margin: 10px 0px;
}

.input-container {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.issuer-container {
}
